.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-hero{
  margin-bottom: 80px;
}

section {
  padding-top: 40px;
  padding-bottom: 30px;
}

main section:nth-child(2){
  padding-bottom: 0;
}

section:nth-child(2n+1){
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.parent-underlined {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 20px;
}

.underlined::after {
  content: "";
  position: absolute;
  line-height: 80px;
  bottom: -5px;
  left: 0;
  width: 50%;
  transform: translateX(50%);
  height: 1px;
  background-color: black;
}

.btn-base {
  display: none;
}


.canvas{
  background-image: url('../images/Vector1.png'), url('../images/Vector2.png'), url('../images/Vector_min_1.png');;
  background-size: 50px auto, 50px auto, 30px auto; 
  background-repeat: no-repeat;
  background-position: top 27% left 5%, top 30% right 0, top 20%  right -50px;
   
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }

}

@media screen and (min-width: 768px){
  .container{
    width: 768px;
    display: flex;
  justify-content: center;
  }

  .canvas{
      background-size: 200px auto, 200px auto, 100px auto; 
      background-position: left center , right 40%, top 20%  right -50px;
     
  }
}

@media screen and (min-width: 1200px){

  .container {
    width: 1200px;
    }
  .description{
    font-size: 14px;
}
 .btn-base{
      display: block;
      padding: 10px 20px;
      border: none;
     color: white;
      font-weight: 900;
    }

    .subtitle {
      font-size: 18px;
    }
}
