.section-number{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  

.item-number {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-bottom: 15px;
  }
  

  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 900;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: 1200px){
    .container-number {
      display: none;
    }
  }